useDynLib("neuRosim", .registration=TRUE)

# import required package
import(deSolve)

# import required functions
importFrom("stats", "convolve", 
                    "arima.sim", 
                    "fft", 
                    "pnorm", 
                    "qgamma", 
                    "rnorm", 
                    "runif", 
                    "sd")

# export functions defined in this package
export(
       "stimfunction",
       "balloon",
       "canonicalHRF",
       "gammaHRF",
       "specifydesign",
       "specifyregion",
       "systemnoise",
       "rrice",
       "lowfreqdrift",
       "physnoise",
       "tasknoise",
       "temporalnoise",
       "spatialnoise",
       "GaussSmoothKernel",
       "Sim.3D.GRF",
       "simprepTemporal",
       "simprepSpatial",
       "simTSfmri",
       "simTSrestingstate",
       "simVOLfmri"
      )
